body{
  font-family: arial,sans-serif;
  
}

li {
  list-style-type: none;
}

         #logo {
            display: block;
            align-self: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 250px;
          
            width: 400px;
          }

          input[type=text] {
            width: 550px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            background-image: url(images/magnifying-glass.svg);
            background-size: 20px;
            background-repeat: no-repeat;
            background-color: white;
            background-position: 10px 10px;
            padding-left: 40px;
          }

          .search-bar{
            display: block;
            align-self: center;
            margin-left: auto;
            margin-right: auto;
            line-height: 100px;
            height: 100px;
            text-align: center;
            width: auto;
            
          }
          
          .buttons{
            align-self: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            width: 120px;
            width: 360px;
          }

          .header{
            position: fixed;
            top: 0;
            width: 100%;
            font-family: arial, sans-serif;
            font-size: 15px;
          }

          .header-left{
            float: left;
          }


          .header-right{
            float: right;
          }

          .footer{
            position: fixed;
            bottom: 0;
            width: 100%;
            padding-bottom: 20px;
            padding-right: 20px;
            font-family: arial, sans-serif;
            font-size: 15px;
          }

          .footer-left{
            float: left;
          }

          .footer-right{
            float: right;
            padding-right: 15px;
          }

          #profile-pic {
            border-radius: 50%;
            width:50px;
            height:50px;
            float: right;
          }
