          #logo {
            display: block;
            align-self: center;
            margin-left: auto;
            margin-right: auto;
            width: 120px;
            width: 360px;
            
          }
          
          #search-bar{
            display: block;
            align-self: center;
            margin-left: auto;
            margin-right: auto;
            line-height: 100px;
            height: 100px;
            text-align: center;
            width: auto;
            
          }
          
          .nav-bar-left{
            
          }

          .nav-bar-right{
            

          }


          .footer-left{


          }

          .footer-right{
            
          }
          
          #profile-pic {
            border-radius: 50%;
          }
